.login{
    padding: 0 1rem;
    max-width: 25rem;
    margin: 0 auto;
    
}

.light-link{
    text-decoration: none;
    margin-left: 1rem;
    @apply text-gray-500 dark:text-gray-400; /* Was #7b7b7b */
    font-size: initial;
}

.login-button{ /* This class seems to only set display and width, no color styles to change */
    display: block;
    width: 80%;
}

.test{ /* This seems to be a button for test credentials */
    @apply bg-slate-100 text-slate-700 border-slate-700 dark:bg-slate-700 dark:text-slate-100 dark:border-slate-500;
    /* border: none; -- this was immediately overridden by border: 1px solid var(--primary) */
    border-width: 1px;
    border-style: solid;
    border-radius: .2rem;
    cursor: pointer;
    margin-left: 1rem;
    padding: .2rem 1rem;
}