.login-fields {
  @apply flex flex-col gap-4;
}

.login-actions {
  @apply mt-2 flex flex-col gap-3;
}

.login-button {
  @apply block w-full;
}

.login-forgot {
  @apply mt-3 text-center;
}

.reset-form {
  @apply mt-4 flex flex-col gap-3 rounded-lg border border-gray-200 bg-secondary p-4 animate-slide-down;
}
