.product-listing{
    text-align: center;
    /* background-color: #FAEDCD; replaced by Tailwind */
    @apply bg-yellow-50 dark:bg-slate-800; /* #FAEDCD is a light yellow. Chose a generic dark bg */
}

.product-listing .product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-bottom:4rem
}

.product-listing .product-container-mobile{
    display: none;

}

.product-listing .flex-container-1{
    display: flex;
    text-align: left;
}

.product-listing .clear-button{
    border: none;
    background: none;
    cursor:pointer;

}

.product-listing .filter-heading{
    display: inline-block;
    margin-right: 2rem;
}

.product-listing .filters{
    min-width: 150px;
    margin-left: 1rem;
}

.product-listing .mobile-filters{
    display: none;
}

.filter-button{
    display: none;
}

@media (max-width: 786px) {
    .product-listing .filters{
        display: none;
    }

    .filter-button{
        display: block;
        margin: 0.5rem 1rem 0 auto;
    }

    .product-listing .mobile-filters{
        @apply bg-white dark:bg-slate-700;
        width: 100%;
        display:block;
        padding-bottom:1rem ;
        text-align: start;
        padding-left: 1rem;
        margin-bottom: 4rem;
    }

    .product-listing .product-container{
        display: none;
    }

    .product-listing .product-container-mobile{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        margin-bottom:4rem;
        overflow-y: scroll;
        text-align: start;
    }

    .mobile-filters .close{
        border: none;
        @apply bg-white dark:bg-slate-700 text-slate-800 dark:text-slate-100; /* Assuming button text color needs to be set */
        font-size: large;
        font-weight: bold;
        margin-top: 1rem;
    }

}