.nav-bar{
    /* background: rgb(245, 245, 245,0.9); replaced by Tailwind */
    @apply bg-gray-100 bg-opacity-90 dark:bg-gray-800 dark:bg-opacity-90;
    padding: 1rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.mobile{
    display: none;
}

.search-bar{
    @apply bg-white dark:bg-slate-700 text-slate-900 dark:text-slate-100 border-gray-300 dark:border-slate-500;
    @apply focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-blue-500 dark:focus:border-blue-500; /* Example focus styles */
    width: 30%;
    border-radius: .5rem;
    padding: .5rem;
    border-width: 1px; /* Ensure border is visible */
}
.search-bar::placeholder {
    @apply text-gray-400 dark:text-gray-400;
}

.links{
    width: 25%;
    display: flex;
    justify-content: space-between;
    font-size: large;
}

.links .icon{
    height: 1rem;
    font-size: larger;
}

.links .item-no{
    font-size: small;
    position: relative;
    bottom: 1rem;
}


@media(max-width : 786px){

    .search-bar{
        width: 50%;
    }

    .links{
        width: 100%;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .nav-bar .links{
    }
}