.footer {
    /* background-color:var(--primary); color: var(--secondary); replaced by Tailwind */
    @apply bg-slate-700 text-slate-100 dark:bg-slate-800 dark:text-slate-200;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

.footer .social-media{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}

.footer a{
    /* color: var(--secondary); replaced by Tailwind */
    @apply text-slate-100 dark:text-slate-200;
    text-decoration: none;
    font-size: large;
}
.footer a:hover{
    @apply text-white dark:text-gray-300;
}

@media(max-width : 786px){
    .footer .social-media{
        margin-top: 0rem;
        width: 80%;
        justify-content: space-around;
    }
}
