.App {
  position: relative;
  min-height: 100vh;
  color: theme('colors.primary.DEFAULT');
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.div-margin {
  margin-left: 1rem;
}
